<!DOCTYPE html>
<html>
<head>
<title>Blogs</title>
<style>
.myBackground {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("images/addBlog.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}	

.btn-primary {
	background-color: #f6c100!important;
	color: black;
}
</style>

</head>
<body>
<div class="container-fluid myBackground">
<div class="container" ng-controller="BlogController">
<form class="form-horizontal" method="post">
	<div class="login-box col-md-6 mx-auto w-50">
		<div class="panel content-box">
			<div class="panel-heading">				
				<h4 class="text-white title-box">Add Blog</h4>
			</div>
			<div class="panel-body">
					<div class="form-group">
						<input type="text" ng-model="blog.blogName" class="form-control" placeholder="Blog Name" required="required">
					</div>
					<div class="form-group">
						<textarea ng-model="blog.blogContent" rows="10" class="form-control" placeholder="Blog Content" required="required"></textarea>
					</div>
					<div class="form-group">
						<input type="submit" ng-click="addBlog()" class="btn btn-primary btn-block btn-lg" value="Submit">
					</div>
			</div>
		</div>
	</div>
</form>
</div>	
</div>
</body>
</html>