<html>
<head>
<title>Blogs</title>
<style>
.paddingInclude {
	padding-top: 25px;
}
.myBackground {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("images/readBlog.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-header {
	background-color:#ffc0cb9c;
}
</style>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid myBackground">
<div class="container paddingInclude" ng-controller="BlogController">
<div class="card">
  <div class="card-header">
	<h4><b>{{readBlog.blogName}}</b></h4>
  </div>
  <div class="card-body">
    <p class="card-text">{{readBlog.blogContent}}</p>
  </div>
  <div class="card-footer text-muted">
  	<p class="card-text">
  		<small class="text-muted">Posted by {{readBlog.userDetail.loginName}} on {{readBlog.createdDate}}</small>
  	</p>   
  	<p class="card-text">
  		<a ng-show="currentUser.role=='ROLE_ADMIN' || currentUser.role=='ROLE_USER'" href="" ng-click="incrementLikes(readBlog.blogId)">
  			<i class="fa fa-thumbs-o-up" style="font-size:22px;"></i>&nbsp;Like
  		</a>&nbsp;&nbsp;&nbsp;&nbsp;  	
  		<small class="text-muted"><b>{{likes}} people </b>like this blog.</small>
  	</p>   	
  </div>
  <ul ng-show="currentUser.role=='ROLE_ADMIN' || currentUser.role=='ROLE_USER'" class="list-group list-group-flush" ng-controller="BlogCommentController">
  	<li class="list-group-item">
  		<textarea ng-model="blogComment.commentText" rows="2" cols="10" class="form-control" placeholder="Write your comment here.." required="required"></textarea>
  		<input type="submit" ng-click="addComment()" class="btn btn-primary btn-sm" value="Comment">
  	</li>
  </ul>
  <ul ng-hide="currentUser.role=='ROLE_ADMIN' || currentUser.role=='ROLE_USER'" class="list-group list-group-flush" ng-controller="BlogCommentController">
  	<li class="list-group-item">
  		<small>To Like or Comment on this blog, please <a href="#/login">Sign In</a> or <a href="#/register">Sign Up</a></small>
  	</li>
  </ul>
  <ul class="list-group list-group-flush" ng-repeat="comment in commentList | orderBy:sortComment:true" ng-controller="BlogCommentController">
    	<li class="list-group-item" ng-class-odd="'odd'" ng-class-even="'even'">
    		<small><b>{{comment.userDetail.loginName}} says: </b></small>
    		<small ng-show="editMode">
    			<textarea ng-model="blogComment.commentText" rows="2" cols="10" class="form-control" placeholder="Write your comment here.." required="required"></textarea>
  				<input type="submit" ng-click="updateBlogComment()" class="btn btn-primary btn-sm" value="Update Comment">
  			</small>
    		<small ng-hide="editMode">{{comment.commentText}}</small>
    		<small style="display:block;"><b>Posted on: </b>{{comment.commentDate}}</small>
    		<small ng-show="currentUser.loginName==comment.userDetail.loginName"><a href="" ng-click="deleteBlogComment(comment.commentId)">Remove Comment</a></small>
    	</li>
  </ul>
</div>
</div>
</div>	
</body>
</html>