.container-fluid {
	padding-top:40px!important;
}

.navbar-toggler-icon {
 	background-image: url('../images/hamIcon.png');
 }
 
.navbar-brand {
	font-weight: normal;
	font-size: xx-large;
	font-stretch: wider;
}

.btn-outline-success {
	color: white;
	background-color: #563d7c;
	background-image: none;
	border-color: #563d7c;
}

.borderStyle {
	border-color: #563d7c;
	color: #563d7c;
}

.navbar {
	background: transparent;
	background-image: url('../images/navImage.jpg');
	opacity: 80%;
}

.navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover .navbar-toggler-icon {
	color: #ffffff;
}

.navbar-nav .nav-link {
	color: #563d7c;
}

	a {
		font-weight: 600;
	}
    
	body {
		font-family: 'Amaranth', sans-serif;
		
	}
	.login-box .content-box {
		padding: 20px;
		border-radius: 1px;
		border: none;
	}
	.login-box .content-header {
		border-bottom: none;
        position: relative;
		justify-content: center;
	}
	.login-box h4 {
		text-align: center;
		font-size: 26px;
	}
    .login-box .form-group {
        margin-bottom: 20px;
    }
	.login-box .form-control, .login-box .btn {
		min-height: 40px;
		border-radius: 30px; 
        font-size: 15px;
        transition: all 0.5s;
	}
		
    .login-box .form-control {
        font-size: 13px;
    }
    .login-box .form-control:focus {
        border-color: #a177ff;
    }
	.login-box .hint-text {
		text-align: center;
		padding-top: 10px;
	}
	.login-box .btn {
		color: white;
		background-color: #563d7c;
		background-image: none;
		border-color: #563d7c;
	}
	.login-box .btn:hover, .login-box .btn:focus {
		background: #8753ff;
	}
	.login-box .hint-text a {
		color: #999;
	}
	.trigger-btn {
		display: inline-block;
		margin: 100px auto;
	}	
	.odd {
		background-color:#f1f1f1;
	}
	
	.btn-primary {
		background-color:#6b456a;
	}